
.card {
    width: 200px;
    height: 400px;
    margin: 50px auto;
    border: 5px solid #fff;
    text-align: center;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text {
    color: #449D44;
    font-size: 30px;
    font-family: "Times New Roman","serif";
    font-weight: bold;
}

button {
    width: 100%;
    margin-top: 20px;
}
.form {
    text-align: center;
}