<head>
  <!-- 
  StartUp
  http://www.startup.com
  -->
     
  
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/normalize.min.css">
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="css/animate.css">
      <link rel="stylesheet" href="css/templatemo-misc.css">
      <link rel="stylesheet" href="css/templatemo-style.css">
  <style>ss{
    display: block;
    padding-top: 15px; 
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}</style>
      <script src="js/vendor/modernizr-2.6.2.min.js"></script>
      <title>I2B</title>
      <link rel="icon" type="image/png" href="images/I2B.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
      <link rel="stylesheet" type="text/css" href="css/animate.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
      <body>
      <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
  
      
      <header class="site-header">
          <div class="top-header">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6 col-sm-6">
                      </div> <!-- /.col-md-6 -->
                      <div class="col-md-6 col-sm-6">
                          <div class="social-icons">
                              <ul>
                                  <li><a href="#" class="fa fa-facebook"></a></li>
                                  <li><a href="#" class="fa fa-dribbble"></a></li>
                                  <li><a href="#" class="fa fa-twitter"></a></li>
                                  <li><a href="#" class="fa fa-linkedin"></a></li>
                              </ul>
                              <div class="clearfix"></div>
                          </div> <!-- /.social-icons -->
                      </div> <!-- /.col-md-6 -->
                  </div> <!-- /.row -->
              </div> <!-- /.container -->
          </div> <!-- /.top-header -->
      <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <dev class="ss" style="font-size: x-large; font:bold;">
    
        <p > <img src="images/I2B.png" width="60" height="60" style="border-radius: 30%;">   <%= name %></p>
        </dev>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/index">Home</a></li>
          <li><a href="priv.html">Privacy Policy</a></li>
          <li><a href="term.html">Terms of Service</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><form action="/logout?_method=DELETE" method="POST">
            <button type="submit" style="color: #fff;
            background-color: #9e9d9d;
            border-color: #868886;text-decoration: none; color: white;">Log Out</button>
          </form></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End navbar -->
      <section class="field">
           <div class="container">
               <h1 class="text-center t ">Choose Field</h1>
              <div class="row">
  <div class="col-md-4 col-sm-12 wow bounceInLeft">
  <div class="card mony">
    <h1>Mony</h1>
      <img src="img/money.jpeg">
      <br>
    <a href="Categories.html">
      <button  type="button" class="btn btn-default" style="background-color: darkorange; color: white;">Money</button>
       </a>
  </div>
  </div>
  <div class="col-md-4 col-sm-12 wow bounceInLeft">
  <div class="card">
      <h1>Idea</h1>
      <img src="img/idea.jpeg">
          <br>
      <a href="Categories1.html">
      <button type="button" class="btn btn-default" style="background-color: green; color: white;">Idea
    </button>
       </a>
  </div>
  </div>
  <div class="col-md-4 col-sm-12 wow bounceInLeft">
  <div class="card">
      <h1>Personal Loan</h1>
      <img src="img/loan.jpeg" style="width: 225px; height: 225px;">
      <br>  
      <a href="Categories.html">
      <button type="button" class="btn btn-default" style=" background-color: black; color: white;">Personal Loan</button>
      </a>
  </div>
  </div>
  </div>
  </div>
      </section>
          <!-- Start Footer -->
  <footer class="text-center">
    <div class="container">
      <div class="row">
         <div class="col-md-12 col-xs-12">
            <div class="footer-cont">
            </div>
          </div>
        <div class="col-md-12 col-xs-12">
            <div class="social-media-footer">
                <ul class="list-inline c-info fright">
              <li><a href="#"><i class="fab fa-google"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                
                </ul>
            </div>
        </div>
  
          <div class="col-md-12 col-xs-12">
            <div class="copyright uk-first-column">
                <i class="far fa-copyright"></i> Copyright 2019 - All Rights Reserved <span>Developed By I2B</span>
              </div>
          </div>
         
      </div>
    </div>
  </footer>
  
  <!-- End Footer -->
      <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/style.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript"> new WOW().init();</script>
    <script src="//api.backendless.com/sdk/js/latest/backendless.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>